### Dependencies - Work log==###

# use:
# pip install -r requirements.txt
# to get your environment ready

coverage==4.5.1
peewee==3.2.2
pep8==1.7.1
pip==9.0.1
py-dateutil==2.2
pytz==2018.3
regex==2018.2.21
setuptools==28.8.0
six==1.11.0